<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <title>
        {% block title %}
            <!-- Title of page goes here -->
        {% endblock %}
    </title>
    {% block head %}
        <!-- Additional header information goes here -->
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">PasteMate</a>
    <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="nav-bar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <nav-dropdown-menu button_text="Account">
                    <!-- ToDo: Add username: {{ username }} -->
                    <template v-if="username">
                        <nav-option href="/sign_out">Sign out</nav-option>
                        <nav-option href="/account_settings">Account Settings</nav-option>
                    </template>
                    <template v-else>
                        <nav-option href="/sign_in">Sign in</nav-option>
                        <nav-option href="/sign_up">Sign up</nav-option>
                        <nav-option href="/reset_password">Reset Password</nav-option>
                    </template>
                </nav-dropdown-menu>
            </li>

            <li v-if="username" class="nav-item dropdown">
                <nav-dropdown-menu button_text="Paste">
                    <nav-option href="/submit">Submit</nav-option>
                    <nav-option href="/pastes">My Pastes</nav-option>
                </nav-dropdown-menu>
            </li>
        </ul>
    </div>
</nav>

{% block content %}
    <!-- Content goes here -->
{% endblock %}

<script>
    let session = {{ _session | tojson }};
    Vue.mixin({ delimiters: ['[[',']]'] });

    Vue.component('nav-option', {
        template: '<a class="dropdown-item"><slot></slot></a>'
    });

    Vue.component('nav-dropdown-menu', {
       template: `
       <div>
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">[[ button_text ]]</a>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute;
            will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 41px, 0px);">
                <slot></slot>
            </div>
        </div>
       `,
        props: {
           button_text: String
        }
    });

    let navbar_ = new Vue({
        el: '#nav-bar',
        data: {
            username: session['username']
        }
    });
</script>

</body>
</html>