@import "black-dashboard/custom/variables";
@import "black-dashboard/bootstrap/variables";
@import "black-dashboard/custom/_sidebar-and-main-panel.scss";
@import "black-dashboard/bootstrap/_dropdown.scss";

.dropdown-menu {background-color: #191d32;}
.dropdown-item.active {background-color: #191d32; color:#9A9A9A!important;}
.dropdown-item.active:hover {color:white!important;;}
.dropdown-item.active:focus {color:white!important;;}
.dropdown-item {color: white;}
.dropdown-item:focus {color: white;}
.dropdown-item:hover {color: white;}
.main-panel {background-image: none; background-color: #1a1a27 !important;}
.custom-control-label { &::before {background-color: #424f6e !important;} }

.sidebar,
.off-canvas-sidebar {
  &[data="dark"]{
    @include linear-gradient($dark, $black);
  }
}
